* { outline: 1px solid white; outline-offset: -1px; }

body {
    background-color: black;
    color: white;
    font-size: 1vw;
    margin: 0;
}

.grid-item-1-2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item-2-8 {
    grid-column-start: 2;
    grid-column-end: 8;
}

.grid-item-1-8 {
    grid-column-start: 1;
    grid-column-end: 8;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}