/* pre-format */

* { outline: 1px solid white; outline-offset: -1px; }

html, body { 
    height: 100%;
    margin: 0;
}

/* main */

body {
    background-color: black;
    font-size: 1.25em;
    color: white;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: max-content auto max-content;
}

.grid-item-1-2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item-2-8 {
    grid-column-start: 2;
    grid-column-end: 8;
}

.grid-item-1-8 {
    grid-column-start: 1;
    grid-column-end: 8;
}