// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Blockquotes
 */
blockquote {
  color: $brand-color;
  border-left: 4px solid $border-color-01;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1);
  font-style: normal;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: italic;
  }
}

/**
 * Callouts
 */
.callout {
  margin-bottom: $spacing-unit / 2;
  color: $brand-color;
  border-left: 4px solid $border-color-01;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}

@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h6 {
      margin-bottom: $spacing-unit / 6;
      color: $color;
      text-transform: uppercase;
    }
  }
}